@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    font-family: 'aldrich', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 3vmin;
}

#scene {
    margin: 0;
    overflow: hidden;
}

/*
#jervi.jervi-frames {
    animation-name: jerviAnimation;
    animation-duration: 1s;
    transition: 1s;
}
@keyframes jerviAnimation {
    16.66% {
        background-image: url(/img/jervi6.png);
    }
    33.33% {
        background-image: url(/img/jervi5.png);
    }
    50% {
        background-image: url(/img/jervi4.png);
    }
    66.66% {
        background-image: url(/img/jervi3.png);
    }
    83.33% {
        background-image: url(/img/jervi2.png);
    }
    100% {
        background-image: url(/img/jervi1.png);
    }
}
*/

#jervi {
    transform: translate(-40px, 60px);
    width: 66%;
}

@media only screen and (max-width: 600px) {
    #jervi {
        width: 250%;
    }    
}

@media only screen and (max-width: 600px) {
    #jervi {
        width: 250%;
    }    
}


@keyframes unlockProgress {
    0% {
        width: 100%;
    }
    20% {
        width: 100%;
    }
    70% {
        width: 50%;
    }
    100% {
        width: 0%;
    }
}

@import 'header.scss';

button.none {
    transition: 0.4s;
    display: none;
}

.container {
    position: relative;
    width: 100%;
    background: linear-gradient(to left bottom, #C81642 0%, #E2718D 50%, #71E2A6 50%, #71E2A6 100%);
    .layer {
        display: flex !important;
        justify-content: center !important;
        align-items: flex-end !important;
        height: 100vh !important;
    }

}

.main {
    position: absolute;
    top: 0vh;
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    margin-left: 5vw;
    padding-top: 15px;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    user-select: none;
    .item {
        margin-right: 5vw;
        padding-top: 17px;
        .cybr {
            padding-top: 0;
        }
        &.btn:hover {
            cursor: pointer;
            color: #84dfae;
            text-shadow: 2px 1px 0px #E2718D;
            filter: blur(1px);
            transition: 0.5s;
        }
    }
}

.body {
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    position: absolute;
    top: 22%;
    left: 0;
    right: 0;
    .right {
        text-align: right;
        line-height: 30px;
    }
    .left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        h2 {
            margin-top: 20px;
            padding: 0;
            line-height: 20px;
            display: flex;
        }
    }
}

@import 'bus.scss';


.youtube {
    padding-top: 3.5px;
    padding-bottom: 3.5px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .left {
        font-size: 3vmin;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        margin-bottom: 10px;
    }
    .right {
        width: 20%;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        margin-bottom: 10px;
        h6 {
            margin-top: 15px;
        }
    }
    h6 {
        margin: 0;
    }
}

@import 'contactme.scss';


@import 'cyberpunk.scss';